numpy
cloudpickle
importlib_metadata; python_version < '3.10'
gym_notices
dataclasses; python_version == '3.6'
typing_extensions; python_version == '3.7'
opencv-python
lz4
matplotlib
box2d-py
pygame
ale-py
mujoco
mujoco_py
imageio